#trigger{
    display: none;
}
button.outline {
    outline: none!important;
    border:none!important;
    background-color:#000!important;
}

button.outline:hover{
    outline: none!important;
    border:none!important;
    background-color:#fff!important;
    box-shadow: none!important;
    color:#000;
}

button.outline:focus{
    outline:none!important;
    border:none!important;
    box-shadow: none!important;
    background-color:none!important;
    background-color:#000!important;
}


.menu_drop{
    border-radius:0px;
}

.backMaster{
    background-color:rgba(244,244,244,.8)!important;
}

.navItemCustom:hover {
    border:none!important;
}
.navItemCustom:focus {
    outline: none!important;
    color:black!important;
    background-color: white!important;
    border:none!important;
}

.navCC {
    background:#000!important;
}


/* remove a setinha do menu dropdown */
.dropdown-toggle::after {
    display:none;
}


#restante {
    display: none;
}
