#trigger{
    display: none;
}

#trigger_prob{
    display: none;
}
button.outline {
    outline: none!important;
    border:none!important;
    background-color:#000!important;
}

button.outline:hover{
    outline: none!important;
    border:none!important;
    background-color:#fff!important;
    box-shadow: none!important;
    color:#000;
}

button.outline:focus{
    outline:none!important;
    border:none!important;
    box-shadow: none!important;
    background-color:none!important;
    background-color:#000!important;
}


.menu_drop{
    border-radius:0px;
}

.backMaster{
    background-color:rgba(244,244,244,.8)!important;
}

.navItemCustom:hover {
    border:none!important;
}
.navItemCustom:focus {
    outline: none!important;
    color:black!important;
    background-color: white!important;
    border:none!important;
}

.navCC {
    background:#000!important;
}


/* remove a setinha do menu dropdown */
.dropdown-toggle::after {
    display:none;
}


#restante {
    display: none;
}


.overBtnTipo {
    border-radius:0px;
}



.inp_data{
    margin-top:10px;
}


.btnVariable{
    background:#616263;
    border-radius:0px;
}

.btnEntrada {
    background:#616263;
    border-radius:0px; 
}



.nav-link:hover{
    color:#000;
}

.nav-link {
    color:#616263;
    font-family: monospace;
    font-size: 19px;
}

.nav-link:active{
    color:#000;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #000 #000 #fff;
    border-radius:2px;
}

#moldeBino {
    display: none;
}

#moldeUni{
    display: none;
}

#moldeNormal{
    display: none;
}
#de_ate{
    display: none;
}

#de_ate_normal{
    display: none;
}